* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #061f01, #52bcd1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 380px;
}

.form {
    background: rgb(252, 214, 214);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #764ba2;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #888;
    font-size: 14px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s;
    background: white;
    padding: 0 5px;
}

.input-box input:focus + label,
.input-box input:valid + label,
.input-box select:focus + label,
.input-box select:valid + label {
    top: -8px;
    font-size: 12px;
    color: #667eea;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(118,75,162,0.4);
}
